.wrapper
{
    background-color: rgb(255, 255, 255);
    margin-bottom: 1px;
    
    display: flex;   
    height: 150px;
}
.link
{
    cursor: pointer;
    font-size: 20px;
    color: black;
    padding: 10px;
    text-decoration: none;
    position: relative;
    
}
.menu-show
{
    top:100%;
    left: 0%;
    z-index: 1;
    opacity: 0.9;
    background-color: 
    #2f81bd;
    width: 200px;
    color: rgb(254, 254, 252);
    border-radius:0 0 10px 10px;
    position: absolute;
    ul{
        padding: 0;
    }
    ul li{
        list-style-type: none;
        height: 50px;
        padding-left: 5%;
        padding-right:5%;
        text-align:center;
        line-height: 50px;
        
    }
    ul li:hover{
        color: black;
        font-size: 18px;
    }
    
}



.warpper-link
{
    margin-right: 50px;
  line-height: 75px;
   text-align: center;
    width: 50%;
}
.warpper-link-h
{
    display: flex;
    justify-content: space-around;
    height: 50%;
}
.warpper-link-icon
{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}
.warpper-link-icon div svg
{
    font-size: 20px;
}

.warpper-icon
{
    padding-top: 10px;
   
}