.wrapper {
  padding: 10px 20px;
}
.wrapper-tour {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
}
.img-form {
  width: 40%;
  height: 300px;
  margin: 10px 100px;
  img {
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }
}
.inform {
  margin-left: 10px;
}
.name-tour {
  color: #2f81bd;
  font-weight: 900;
  font-size: 30px;
}
.list {
  display: flex;
  ul li {
    display: flex;
    p {
      margin-left: 20px;
      font-size: 20px;
    }
    .icon {
      margin-top: 22px;
      font-size: 20px;
      color: #2f81bd;
    }
  }
}
.title {
  font-size: 30px;
  color: black;
  font-weight: 900;
}
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
