.slick-slider {
  align-items: center;
  cursor: pointer;
  display: flex;
}
.slick-list {
  padding-left: 0;
}
.custom-prevArrow {
  line-height: 250px;
}
.custom-nextArrow {
  line-height: 250px;
}
