.wrapper {
  width: 100%;
}

.wrapper-tour {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.paging{
  margin-top: 50px;
  margin-left: 46%;
}
