.watchadd{
    position:absolute;
    width: 230px;
    height: 45px;
    font-size: 15px;
    border: 0;
    top:80%;
    cursor: pointer;
    left: 13%;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    background-color: #2F81BD;
}
.watchadd2
{
    
    width: 150px;
    height: 45px;
    font-size: 15px;
    border: 0;
    top:80%;
    cursor: pointer;
    left: 13%;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    background-color: #1494ef;
}
.login
{
    border: 0;
    background-color: #2F81BD;
    border-radius: 10px;
    width: 127px;
    height: 35px;
    color: white;
    margin-right: 20px;
}
.logout
{
    border: 0;
    background-color: #2F81BD;
    color: white;
    border-radius: 10px;
    width: 127px;
    height: 35px;
}
.search
{
    cursor: pointer;
    height: 55px;
    border-radius: 5px;
    width: 50px;
    color: white;
    background-color:#484f4a;
    border: 1px solid black;
    font-size: 20px;
}
.buttonproduct
{
    background-color: white;
    color: black;
    font-weight: 700;
    width: 120px;
    font-size: 17px;
    border-radius: 17px;
    margin-left:50px;
    height: 40px;
}