.booking
{
  display: flex;
  padding: 10px 20px;
  
}
.booking-information
{
  width: 50%;

}
.booking-information-input[type=text],.booking-information-input[type=email],.booking-information-input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.booking-total
{
  button{
    border-radius: 5px;
  }
  border-radius: 5px 5px 5px 5px;
  background-color: 
  rgb(252, 251, 251);
  color: rgb(5, 5, 5);
  padding: 10px;
  width: 40%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.booking-total-title
{
  span{
    font-size: 19px;
    font-weight: 600;
    svg{
      color: #339af0 ;
    }
  }
}
.booking-total-check
{
  width: 540px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  button{
    width: 20%;
    background-color: white;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  span{
    text-align: center;
    width: 90%;
  }
  
}
.booking-total-price
{
  display: flex;
  justify-content: space-around;
  span{
    font-size: 20px;
    font-weight: 600;
    color:#d10a00;
  }
}

