.booking
{
  display: flex;
  padding: 10px 20px;
  
}
.booking-information
{
  width: 50%;

}
.booking-information-input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.booking-total
{
  button{
    border-radius: 5px;
  }
  border-radius: 5px 5px 5px 5px;
  background-color: 
  #4d9cb7;
  color: white;
  padding: 10px;
  width: 30%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.booking-total-title
{
  span{
    font-size: 19px;
    font-weight: 600;
    svg{
      color: rgb(246, 246, 20);
    }
  }
}
.booking-total-check
{
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  button{
    width: 100px;
    background-color: white;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  span{
    text-align: center;
    width: 90%;
  }
  
}
.booking-total-price
{
  display: flex;
  justify-content: space-around;
  span{
    font-size: 20px;
    font-weight: 600;
    color: rgb(246, 246, 20);
  }
}

