.wrapper {
  height: 150%;
  p {
    font-size: 18px;
  }
  table {
    width: 100%;
    tr {
      &:hover {
        opacity: 0.5;
      }
    }
    tr th {
      background-color: antiquewhite;
      color: black;
      font-weight: 700;
      border: 1px solid black;
    }
    tr td {
      border-bottom: 1px solid black;
      text-align: center;
    }
  }
}
