.all {
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.wrapper {
  overflow-y: hidden;
  display: flex;
}
.container {
  overflow-y: scroll;
  width: 85%;
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
