.wrapper {
  margin-top: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  p {
    color: #2f81bd;
    font-size: 25px;
  }
}
.line {
  width: 30%;
  background: #2f81bd;
  height: 2px;
}
.tours {
  margin-top: 10px;
  display: flex;
}
