.wrapper {
  margin-top: 30px;
  height: 750px;
  padding: 10px 20px;
}
.search {
  margin-top: 20px;
  input {
    padding: 10px 10px;
    width: 98.5%;
    font-size: 15px;
  }
}
.form-table {
  .loading {
    margin: auto;
  }
  h2 {
    margin-top: 50px;
    text-align: center;
    font-weight: 900;
    color: rgb(110, 0, 0);
  }
  margin-top: 5px;
  height: 660px;
  overflow-y: scroll;
  table {
    border-collapse: collapse;
    width: 100%;
    tr th {
      background: rgb(195, 195, 195);
      border: 1px solid black;
      font-weight: 900;
      color: black;
      position: sticky;
    }
    tr td {
      padding: 10px;
      text-align: center;
    }
    .tr {
      transition: 0.2s linear;
      &:hover {
        transition: 0.2s linear;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      td {
        button {
          cursor: pointer;
          border-radius: 5px;
          border: none;
          width: 30%;
          margin-left: 5px;
          padding: 10px;
        }
        .btnInfo {
          background-color: #5cb85c;
        }
        .btnUpdate {
          background-color: #0000ff;
        }
        .btnTrash {
          background-color: #ff0000;
        }
      }
    }
  }
}
.icon-pen {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 20px;
}
.icon-trash {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 20px;
}
.icon-info {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 20px;
}
.active {
  padding: 10px;
  text-align: center;
  background-color: rgb(219, 219, 219);
  opacity: 0.5;
}
