.loader-container {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    top: 25%;
    right: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgb(133, 184, 205);
    z-index: 1;
}

.spinner {
    color: white;
    line-height:15px;
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #fcfcfc transparent #315cd2 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s alternate infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}