.wrapper {
  margin-top: 30px;
  padding: 10px 20px;
}
.search {
  margin-top: 20px;
  input {
    border: 0.5px solid black;
    padding: 10px 10px;
    width: 98.5%;
    font-size: 15px;
  }
}
.form-table {
  margin-top: 5px;
  height: 550px;
  overflow-y: scroll;
  table {
    border-collapse: collapse;
    width: 100%;
    tr th {
      background: rgb(195, 195, 195);
      border: 1px solid black;
      font-weight: 900;
      color: black;
    }
    tr td {
      padding: 10px;
      text-align: center;
    }
    tr {
      transition: 0.2s linear;
      &:hover {
        transition: 0.2s linear;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      td {
        button {
          margin-left: 5px;
          padding: 10px;
          width: 30%;
          border: none;
          color: white;
          font-weight: 900;
          cursor: pointer;
          border-radius: 2px;
        }
        .btnInfo {
          background-color: #5cb85c;
        }
        .btnUpdate {
          background-color: #0000ff;
        }
        .btnTrash {
          background-color: #ff0000;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .icon-pen,
  .icon-trash,
  .icon-info {
    font-size: 25px;
  }
  .icon-info {
    margin-right: 20px;
  }
  .icon-pen {
    margin-right: 20px;
    margin-top: 10px;
  }
  .icon-trash {
    margin-top: 10px;
    margin-right: 45px;
  }
}
