.wrapper {
  width: 100%;
}
.sort-form {
  cursor: pointer;
  background: gray;
  width: 9%;
  display: flex;
  margin-left: 90%;
  border-radius: 25px;
  padding: 0 20px;
}
.icon-sort {
  margin-top: 20px;
  margin-left: 10px;
}
