.img
{

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 
  height: 500px;
  

  border-radius: 5px;
}
.img-box
{
  
  text-align: center;
  width: 75%;
  margin: auto;
}
.img1
{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 70px;
  height: 110px;
}




/* Slider */




