.wrapper {
    overflow-y: scroll;
    max-height: 600px;
    table {
      tr {
        th {
          color: white;
          font-weight: 900;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
      tr {
        td {
          text-align: center;
        }
      }
    }
  }
  .sum {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: red;
  }
  